.servico {
  background-color: var(--bege);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 260px;
  height: 275px;
  text-align: center;
}

.servico:hover {
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}

.servico h3 {
  color: var(--dark-grey);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  width: 80%;
  text-align: center;
}

.icon {
  width: 35px;
  height: 35px;
  color: var(--dark-grey);
}

@media screen and (max-width: 850px) {
  .servico {
    grid-column: span 2;
    width: 350px;
  }

  .servico:last-child {
    grid-column-end: 4;
  }

  .servico h3 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .servico {
    width: 80%;
    margin: 0.5rem auto;
  }

  .servico h3 {
    font-size: 1.1rem;
  }
}
