.servico {
  background-color: var(--bege);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.3px solid var(--dark-grey);
  width: 250px;
  height: 160px;
  text-align: center;
}

.servico h3 {
  color: var(--dark-grey);
  line-height: 1.85rem;
  font-size: 1.5rem;
}

.icon {
  width: 35px;
  height: 35px;
  color: var(--dark-grey);
}

@media screen and (max-width: 850px) {
  .servico {
    width: 350px;
  }
}

@media screen and (max-width: 600px) {
  .servico {
    width: 90%;
  }
}
