.card {
  list-style-type: none;
  background-color: var(--off-white);
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 400px;
  height: 250px;
  text-align: center;
}

.review {
  height: 100%;
  color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review img {
  margin: 0 auto;
}

.review h3 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.review p {
  line-height: 1.2rem;
  padding: 1rem;
}

@media screen and (max-width: 850px) {
  .card {
    margin: 0.5rem;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    margin: 0;
    width: 85%;
    height: 200px;
    margin-bottom: 0.5rem;
  }

  .review h3 {
    font-weight: bold;
    font-size: 1rem;
  }

  .review p {
    font-size: 0.9rem;
  }
}
