.avaliacoes {
  background: rgb(144, 144, 144);
  background: linear-gradient(
    0deg,
    rgba(192, 192, 192, 1) 21%,
    rgba(144, 144, 144, 1) 55%
  );
}

.avaliacoes h2 {
  color: #252525;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.reviews {
  display: flex;
  justify-content: space-evenly;
  font-family: "Open Sans", sans-serif;
}

.botaoreviews {
  height: 8rem;
}

.botao {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 480px;
  background-color: #60727a;
  color: #fdfdfd;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

.botao img {
  width: 35px;
  height: 35px;
  margin-left: 0.75rem;
}

.botao:hover {
  background-color: #4e626b;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .avaliacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .avaliacoes h2 {
    color: #252525;
    text-align: center;
    width: 80%;
    margin-bottom: 1.1rem;
    padding-top: 2rem;
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  .reviews {
    flex-direction: column;
    align-items: center;
  }

  .botao {
    width: 80%;
  }

  .botao img {
    margin-left: 0;
  }
}

@media screen and (max-width: 850px) {
  .reviews {
    flex-wrap: wrap;
  }

  .avaliacoes h2 {
    width: 80%;
  }
}
