.review {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review img {
  margin: 0 auto;
  width: 157;
  height: 100;
}

.review h3 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.review p {
  line-height: 1.2rem;
  padding: 1rem;
}

@media screen and (max-width: 850px) {
  .review p {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .review h3 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .review p {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
}
