.avaliacoes {
  background: var(--light-bege);
  color: var(--dark-grey);
}

.avaliacoes h2 {
  font-style: sans-serif;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.reviews {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.botaoreviews {
  height: 8rem;
}

.botao {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  background-color: var(--dark-grey);
  color: var(--off-white);
  border: none;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  font-size: 1.15rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}

.botao img {
  margin-left: 0.75rem;
}

.botao:hover {
  background-color: black;
  border: 3px solid black;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .reviews {
    flex-wrap: wrap;
  }

  .avaliacoes h2 {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .avaliacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .avaliacoes h2 {
    text-align: center;
    width: 80%;
    margin-bottom: 1.1rem;
    padding-top: 2rem;
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  .reviews {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
