.avaliacoes {
  padding-top: 2rem;
  height: fit-content;
  background: var(--light-bege);
  color: var(--dark-grey);
}

.avaliacoes h2 {
  color: var(--dark-grey);
  text-shadow: -1.5px 0 var(--mid-bege), 0 1.5px var(--mid-bege),
    1.5px 0 var(--mid-bege), 0 -1.5px var(--mid-bege);
  font-family: "Abel", sans-serif;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 1.5rem;
  font-size: 2.7rem;
}

.reviews {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.botaoreviews {
  height: 8rem;
}

.botao {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  background-color: var(--dark-grey);
  color: var(--off-white);
  border: none;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}

.botao img {
  margin-left: 0.75rem;
}

.botao:hover {
  background-color: black;
  border: 3px solid black;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .reviews {
    flex-wrap: wrap;
  }

  .avaliacoes h2 {
    font-size: 3rem;
    line-height: 3rem;
    width: 80%;
  }

  .botao {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .avaliacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .avaliacoes h2 {
    text-align: center;
    width: 80%;
    margin-bottom: 1.1rem;
    padding-top: 2rem;
    font-size: 2.2rem;
  }

  .reviews {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
