.banner {
  margin: 0;
  height: 40rem;
  position: relative;
  background: url("../../img/desktop-banner.png");
  background-repeat: no-repeat;
  background-size: 100vw;
}

.conteudo {
  position: absolute;
  color: #FDFDFD;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo {
  font-size: 3rem;
  width: auto;
  text-align: center;
  margin-bottom: 5rem;
}

.contato {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 450px;
  background-color: #25d366;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}

.contato:hover {
  background-color: #36a860;
}

.botao {
  display: flex;
  justify-content: space-around;
}

.svg {
  position: fixed;
  bottom: -70px;
}

@media screen and (max-width: 600px) {
  .banner {
    background: url("../../img/mobile-banner.png");
    background-repeat: no-repeat;
  }

  .conteudo {
    top: 40%;
  }

  .contato {
    width: 275px;
  }

  .titulo {
    margin-bottom: 2rem;
  }
}
