.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--off-white);
  color: var(--dark-grey);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.logo {
  margin: 0.5rem;
  margin-left: 2rem;
}

.navigation {
  font-family: "Montserrat", sans-serif;
  margin-right: 4rem;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.navigation li {
  height: 120px;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.navigation li:hover {
  background-color: var(--bege);
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .header {
    height: 13rem;
    font-size: 1.7rem;
  }

  .logo img {
    width: 250px;
    height: 125px;
  }

  .navigation ul {
    margin-left: 7rem;
  }

  .navigation li {
    margin-top: 4.5rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 20rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .logo {
    margin: 1rem auto;
    margin-bottom: 0;
    justify-content: center;
  }

  .logo img {
    width: 265px;
    height: 125px;
  }

  .navigation {
    width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation ul {
    margin: 0;
  }

  .navigation li {
    margin: 0;
    height: 60px;
    font-size: 1.35rem;
  }
}
