.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--very-dark-blue);
  color: var(--off-white);
}

.logo {
  font-style: sans-serif;
  font-size: 2.25rem;
  margin: 0.5rem;
  margin-left: 2rem;
}

.navigation {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  margin-right: 4rem;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.navigation li {
  padding: 1rem;
  display: block;
  border-radius: 5px;
}

.navigation li:hover {
  background-color: var(--dark-grayish-blue);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 2.5rem;
    margin: 0;
    margin: 1rem auto;
    justify-content: center;
  }

  .navigation {
    width: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
