.sobre {
  background: var(--light-bege);
  color: var(--dark-grey);
  height: fit-content;
}

.sobre h2 {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
}

.sobre p {
  font-size: 2rem;
  text-align: justify;
  margin: 0 20rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 850px) {
  .sobre p {
    font-size: 2rem;
    width: fit-content;
    text-align: center;
    margin: 0 2rem;
  }
}
