.contato {
  background: var(--light-bege);
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.contato h2 {
  font-style: sans-serif;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.9rem;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.infos h3 {
  width: 80%;
  font-style: sans-serif;
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.9rem;
}

.enderecos {
  font-family: "Inter", sans-serif;
  background-color: var(--off-white);
  margin: 3rem 2rem;
  margin-top: 0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.enderecos p {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.enderecos a:hover {
  text-decoration: underline;
}

.local iframe {
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .local iframe {
    margin: 0;
    width: fit-content;
    height: 400px;
  }

  .enderecos p {
    font-size: 1.15rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 850px) {
  .contato h2 {
    width: 80%;
  }

  .enderecos,
  .infos {
    gap: 2.5rem;
  }
}
