.contato {
  background: var(--grayish-blue);
  opacity: 0.8;
  color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.contato h2 {
  font-style: sans-serif;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}

.infos {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.enderecos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-bottom: 3rem;
}

.enderecos p {
  font-size: 2rem;
}

.enderecos a:hover {
  text-decoration: underline;
}

.local iframe {
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .local iframe {
    margin: 0;
    width: fit-content;
    height: 400px;
  }

  .enderecos p {
    font-size: 1.15rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 850px) {
  .contato h2 {
    width: 80%;
  }

  .enderecos,
  .infos {
    gap: 2.5rem;
  }
}
