html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

:root {
  --off-white: hsl(36, 100%, 99%);
  --light-bege: #f7f3ee;
  --mid-bege: #e5dbd0;
  --bege: #b8a895;
  --dark-grey: #333;
}
